/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
}
.container {
  /* position: relative; */
  position: absolute;
  bottom: -150%; 
  left: 30%;
  max-width: 700px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-in-out;
}

.show-form {
  bottom: -50px; /* Slide up to the center of the screen */
}


.show-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: left;
  padding: 25px;
}
.container .form {
  margin-top: 0px;
  padding-top: 0px;
  /* padding: 25px; */
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;

}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.button-submit{
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(39, 86, 214);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

/* ------------tag box------- */
.box{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(237, 227, 227);
  margin-top: 15px;
  z-index: 2;

}

.box .tag_box{
  min-height: 100px;
  max-height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
}
.box .tag_box::-webkit-scrollbar{
  width: 10px;
}
.box .tag_box::-webkit-scrollbar-thumb{
  background-color: #5e5e5e;
  border-radius: 100px;
}
.box form{
  text-align: center;
}
.input_field{
  width: 100%;
  font-size: 15px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
}

.tag_box .tag{
  font-size: 20px;
  color: rgb(23, 23, 45);
  background-color: rgb(160, 195, 236);
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 5px;
}






.close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    color: #0a0909;
}